<div class="container" style="border: 1px solid grey;">
  <div class="row align-items-center">
    <div class="col">

      <div class="dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Category
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>

      </div>
      <div class="col" style="border: 1px solid peachpuff;">
        總金額：
      </div>
      <div class="col" style="border: 1px solid pink;">
        <button type="button" class="btn btn-sm" style="background-color: #627E90; color:#FAFAFA">Add</button>
      </div>
    </div>



  </div>
</div>