<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-10 col-md-8">

      <div class="col-12 mb-3">
        <h5 class="text-center"> Please fill in the blanks to add your expense</h5>
        <div class="text-secondary">* required</div>
      </div>

      <form class="needs-validation" novalidate action="/records" method="POST">
        <div class="col-12 mb-3">
          <label for="name" class="form-label">Name *</label>
          <input type="text" class="form-control" id="name" name="name" maxlength="25" required>
          <div class="invalid-feedback">
            Required
          </div>
        </div>
        <div class="col-12 mb-3">
          <label for="date" class="form-label">Date *</label>
          <div class="input-group mb-3">
            <input type="date" class="form-control" id="date" name="date" min="2021-01-01" required>
          </div>
          <div class="invalid-feedback">
            Required
          </div>
        </div>
        <div class="col-12 mb-3">
          <label for="category" class="form-label">Category *</label>
          <select class="form-select form-control " id="category" name="category" required>
            <option value="" selected disabled>Please select</option>
            <option value="Food">Food</option>
            <option value="House">House</option>
            <option value="Transport">Transport</option>
            <option value="Medical">Medical</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Others">Others</option>
          </select>
          <div class="invalid-feedback">
            Required
          </div>
        </div>

        <div class="col-12 mb-3">
          <label for="amount" class="form-label">Amount *</label>
          <input type="number" class="form-control" id="amount" name="amount" min="0" max="100000000" required>
          <div class="invalid-feedback">
            Required, integer only.
          </div>
        </div>

        <div class="col-12 my-3 d-flex flex-row-reverse">
          <button type="submit" class="btn btn-major">Submit</button>
          <button type="button" class="btn btn-minor mr-4" onclick="javascript:history.back()">Back</button>
        </div>
      </form>

    </div>
  </div>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()

  // 限制日期區間： 2020.01.01 至 今日
  let date = new Date().toISOString().substr(0, 10);
  document.querySelector("#date").value = date;

  let today = new Date();
  let dd = today.getDate();
  let mm = today.getMonth() + 1; //January is 0!
  let yyyy = today.getFullYear();
  if (dd < 10) dd = '0' + dd
  if (mm < 10) mm = '0' + mm
  today = yyyy + '-' + mm + '-' + dd;
  document.querySelector("#date").setAttribute("max", today);
</script>